<ion-header>
  <app-header pageTitle="Mes Favoris"></app-header>
</ion-header>
<ion-content>
<ng-container *ngIf="(this.FavoriteListe)?.length >= 1">
  <ion-list *ngFor="let fav of this.FavoriteListe">
    <ion-item-sliding>
      <ion-item>{{fav.value|json}}
        <app-event-card [event]="fav.value">
        </app-event-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="alerte" (click)="removeFav(fav.item)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ng-container>
 <ng-container *ngIf="this.FavoriteListe?.length < 1">
  <ion-text color="primary" class="ion-text-center">
    <ion-icon  name="sad-outline"></ion-icon>
    <p>aucun favoris dans votre liste</p><br>
    <p>les favoris vous permettent de garder de côté des évenément qui vous intéresse</p><br>
    <p>Ajouter en depuis le boutton + dans le descriptif de l'évenements</p>
  </ion-text>
  </ng-container>
</ion-content>