<ion-header class="ion-no-border">
  <ion-toolbar #toolbar>
    <ion-icon class="logo" src="/assets/logoWhatToDo.svg"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true" [appToolbarEffect]="toolbar" class="bgImg">
  <ion-grid fixed>

    <ion-row>
      <ion-col size="5">
        <ion-text color="primary">
          <p class="lightTitle">Fribourg</p>
        </ion-text><br>
        <ion-text color="tertiary">
          <p class="boldWeatherTxT">{{meteoData?.currenttemp| number: '1.0-0'}}°</p>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="meteoCurrIco" [src]="meteoData?.curentid|weatherIcons"></ion-icon>
      </ion-col>
      <ion-col size="5" class="ion-text-right">
        <ion-text color="primary">
          <p class="lightTitle">{{date| date: 'dd MMMM YYYY'}}</p>
        </ion-text><br>
        <ion-text color="tertiary">
          <p class="boldWeatherTxT">{{ time | date: 'HH:mm' }}</p>
        </ion-text>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="5" push="4">
        <ion-icon name="newspaper-outline" size="large" class="ion-float-left actuIcon"></ion-icon>
        <ion-text class="ion-float-left" color="tertiary">
          <h5>Actualités</h5>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="slideOpts" class="actuItems">
          <ion-slide class="actuItems" *ngFor="let actus of (this.listeEvent)?.slice(min, max)">
            <ion-card detail="false"
              [routerLink]="'../event/' + actus.id.toString()">
              <ion-card-content>
                <ion-img class="actusEventsImg" [src]="actus.media1"></ion-img>
                <div class="eventCatBar" [style.background-color]="actus.category|catColors"></div>
                <ion-text color="primary">
                  <p class="date">{{actus.eventStartDate|date:'d.MM.yy'}} - {{actus.eventEndDate|date:'d.MM.yy'}}</p>
                  <h2><strong>{{actus.eventTitle|slice:0:40 }}</strong></h2>
                  <p class="cat">{{actus.category|catTitle}}</p>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" push="4">
        <ion-icon [src]="meteoData?.dailyID|weatherIcons"></ion-icon>
        <ion-img [src]=""></ion-img>
      </ion-col>
      <ion-col size="10">
        <ion-text color="primary">
          <h5>{{meteoData?.dailyID|weatherDescription}}</h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngFor="let evenement of (this.listeEvent)?.slice(min, max)">
    <app-event-card [event]="evenement"></app-event-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="chargement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>