ion-toolbar {
    --background: 0000000;
    --border-color: transparent;

    ion-icon.logo {
        width: 100%;
        font-size: 35px;
        margin: 10px 0;
    }
}

ion-content {
    position: absolute;
    --offset-top: 0px;

    ion-grid {
        margin-top: 70px;

        p.boldWeatherTxT {
            margin-top: -20px;
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 20px;
        }
        .meteoCurrIco {
            width: 100%;
            font-size: 45px;
            margin-top: 15px;
        }

        .actuIcon {
            margin-right: 5px;
        }
        ion-slide {
            margin-bottom: 10px;
            margin-top: 0px;

            ion-card {
                display: flex;
                flex-direction: column;
                margin: 0 !important;
                width: 100%;
                border-radius: 15px;
                padding: 0;
                background-color: #ffffff18;
                  
                div.imgBox {
                    position: relative;
                    height: 20vh;

                    .actusEventsImg {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px 12px 0 0;
                        overflow: hidden;
                    }
                    .cat {
                        position: absolute;
                        top: 0;
                        padding-left: 10px;
                        padding: 5px 10px 5px 10px;
                        width: 100px;
                        text-align: center;
                        font-weight: 700;
                        color: rgb(44, 44, 44);
                        border-radius: 12px 0 12px 0;
                    }
                }
                h2{
                    max-height: 23px;
                    overflow: hidden;
                    padding: 3px;
                }
            }
        }
        .meteoListIcon {
            font-size: 40px;
            width: 100%;
            margin-top: 20px;
        }
       
            .currMeteoIcon {
                width: 50px;
            }
        
        
    }
 
    
}

