
ion-item.homeBg{
    --background: url('https://picsum.photos/seed/picsum/800/1200') 100%;
    --min-height:24vh;
   

}
ion-img.md.hydrated {
    width: 19px;
}
ion-card{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    background: rgb(231, 231, 231);
    width: 100%;
  }