
ion-icon.logo{
    width: 100%;
    font-size: 35px;
    margin: 10px 0;
}

ion-item.homeBg{
    --background: 100%;
    height:30vh;
    --object-fit: cover;
    background-size: cover;
   

}
.actusEvents {
     width: 100%;
     height: 20vh;
     object-fit: cover;
}
.eventCatBar{
    height: 5px;
}
ion-card{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    width: 100%;
  }
