ion-tab-bar {
    ion-tab-button {
        background-color: var(--ion-color-dark);
        bottom: 0;
    }

    ion-tab-button.homeIcon {
        position: relative;
    }
    ion-icon {
        font-size: 20px; //Preferred size here
    }
}
ion-fab {
ion-fab-button {
    transform: translateY(-12px) scale(1.1);
    --box-shadow:none;
        ion-icon {
            background-color: var(--ion-color-dark);
            border-radius: 50%;
            padding: 10px;
            border: 2px solid #bdbebf;
        }
    }
}
