<ion-card detail="false" [routerLink]="'../event/' + event?.id.toString()" class="ion-no-margin ion-no-padding">
  
  <ion-row>
    <ion-col size="5">
      <div class="imgBox">
        <ion-img class="EventsImg" [src]="event?.media1"></ion-img>
        <p class="cat" [style.background-color]="event?.category|catColors">{{event?.category|catTitle}}</p>
      </div>
    </ion-col>
    <ion-col size="7">
      <ion-row  class="ion-no-margin ion-no-padding">
        <ion-col size="8" class="ion-no-margin ion-no-padding">
          <ion-text color="primary" class="ion-no-margin">
            <p class="ion-no-margin ion-no-padding">{{event?.eventStartDate|date:'d.MM.yy'}} - {{event?.eventEndDate|date:'d.MM.yy'}}</p>
          </ion-text>
        </ion-col>
          <ion-col size="4">
            <ion-icon [src]="event?.reqWeather[0]|meteoReq" class="icoMeteo ion-float-left"></ion-icon>
            <ion-icon *ngIf="event?.reqWeather[1]" [src]="event?.reqWeather[1]|meteoReq" class="icoMeteo ion-float-left"></ion-icon>
            <ion-icon *ngIf="event?.reqWeather[2]" [src]="event?.reqWeather[2]|meteoReq" class="icoMeteo ion-float-left"></ion-icon>
          </ion-col>
        <ion-col size="12" class="ion-no-margin ion-no-padding">
          <ion-text color="primary">
            <h6>{{event?.eventTitle| slice:0:43}}</h6>
          </ion-text>
        </ion-col>
        <ion-col size="5" class="ion-no-margin ion-no-padding">
          <ion-text color="primary"> 
            <p class="ion-no-margin ion-float-left txtVille">{{event?.eventCity}}</p>
          </ion-text>
        </ion-col>
        <ion-col size="7" class="ion-no-margin ion-no-padding">
          <ion-text color="primary"> 
            <ion-icon class="ion-float-left" name="navigate-circle-outline"></ion-icon>
            <ion-label class="ion-float-left" slot="">{{this.distBetween|async| number: '1.0-1'}}km </ion-label>          
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="infosBox">    
    <ion-col size="4">
      <ion-icon [src]="event?.public[0]|publicCible"></ion-icon>
      <ion-icon [src]="event?.public[1]|publicCible"></ion-icon>
      <ion-icon [src]="event?.public[2]|publicCible"></ion-icon>
    </ion-col>
    <ion-col size="1">
      <ion-icon [src]="event?.infoHandicap|iconHandicap"></ion-icon>
    </ion-col>
    <ion-col size="1">
      <ion-icon [src]="event?.infoDog|iconDog"></ion-icon>
    </ion-col>

    <ion-col push="1" size="5" class="ratingCol">
      <p  class="ion-float-left ion-no-margin">({{this.event.raters}})</p>
      <ionic-rating-component activeIcon="star" defaultIcon="star" activeColor="#488aff" defaultColor="#f4f4f4"
        readonly="true" [rating]="this.ratingValue" halfStar="true" fontSize="13px" class="ion-float-left ratingStars ion-align-items-end">
      </ionic-rating-component>
    </ion-col>
  </ion-row>
</ion-card>