<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="isAddMode">Ajouter un événement</ion-title>
        <ion-title *ngIf="!isAddMode">Editer l'événement</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/admin" expand="full" fill="clear" shape="round">
                Annuler
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <ion-text color="primary" class="ion-text-center">
                        <h1>Photo</h1>
                    </ion-text>
                </ion-col>
                <ion-col size="12">
                    <app-take-picture [eventID]="this.id" (newImgEvent)="addPictUrl($event)"></app-take-picture>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Catégorie</ion-label>
                        <ion-select placeholder="Choisissez une catégorie" formControlName="category" required>
                            <ion-select-option [value]="1">Sortir</ion-select-option>
                            <ion-select-option [value]="2">Découvrir</ion-select-option>
                            <ion-select-option [value]="3">s'amuser</ion-select-option>
                            <ion-select-option [value]="4">manger</ion-select-option>
                            <ion-select-option [value]="5">se détendre</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">Date de début</ion-label>
                        <ion-datetime display-format="DD.MMMM.YYYY" [min]="this.minCalendarDate" max="2030-01-01"
                            formControlName="eventStartDate" required></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">Date de fin</ion-label>
                        <ion-datetime display-format="DD.MMMM.YYYY" [min]="this.minCalendarDate" max="2030-01-01"
                            formControlName="eventEndDate" required></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Titre de l'événement</ion-label>
                        <ion-input formControlName="eventTitle" type="text" placeholder="Titre de l'événement" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Description</ion-label>
                        <ion-textarea autoGrow="true" formControlName="eventDescr" type="text"
                            placeholder="ajouter une description" required></ion-textarea>
                    </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Informations</ion-label>
                        <ion-textarea autoGrow="true" formControlName="infoGen" type="text"
                            placeholder="informations générales, horaires, etc"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Info Transport</ion-label>
                        <ion-textarea autoGrow="true" formControlName="infoTransp" type="text"
                            placeholder="ajouter une description"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Lieu de l'événement</ion-label>
                        <ion-input placeholder="Addresse" formControlName="eventAddress" required></ion-input>
                        <ion-input placeholder="NPA" type="number" formControlName="eventNPA" required></ion-input>
                        <ion-input placeholder="Ville" formControlName="eventCity" required></ion-input>
                        <ion-select value="Fribourg" placeholder="Canton" formControlName="eventStates" required>
                            <ion-select-option value="Fribourg">Fribourg</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">Latitude</ion-label>
                        <ion-input formControlName="eventLat" type="number" placeholder="latitude" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">Longitude</ion-label>
                        <ion-input formControlName="eventLong" type="number" placeholder="longitude" required>
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Organisateur</ion-label>
                        <ion-input placeholder="Nom " formControlName="orgName" required></ion-input>
                        <ion-input placeholder="Addresse" formControlName="orgAdress" required></ion-input>
                        <ion-input placeholder="NPA" type="number" formControlName="orgNPA" required></ion-input>
                        <ion-input placeholder="Ville" formControlName="orgCity" required></ion-input>
                        <ion-select value="Fribourg" placeholder="Canton" formControlName="orgState" required>
                            <ion-select-option value="Fribourg">Fribourg</ion-select-option>
                        </ion-select>
                        <ion-input placeholder="téléphone" formControlName="orgPhone" required></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Météo recommandée (choix multiples)</ion-label>
                        <ion-select multiple="true" formControlName="reqWeather" required>
                            <ion-select-option value="beau">Beau temps</ion-select-option>
                            <ion-select-option value="mauvais">Mauvais temps</ion-select-option>
                            <ion-select-option value="neige">Neige</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Coût moyen par personne</ion-label>
                        <ion-range min="0" max="100" pin snaps color="secondary" step="5" formControlName="infoCost">
                            <ion-label slot="start">0 chf</ion-label>
                            <ion-label slot="end">+ 100</ion-label>
                        </ion-range>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">accès Handicapés</ion-label>
                        <ion-select placeholder="accès Handicapés" formControlName="infoHandicap" required>
                            <ion-select-option [value]="true">oui</ion-select-option>
                            <ion-select-option [value]="false">non</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">Chiens autorisés</ion-label>
                        <ion-select placeholder="Chiens autorisés" formControlName="infoDog" required>
                            <ion-select-option [value]="true">oui</ion-select-option>
                            <ion-select-option [value]="false">non</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>

                <!-- <div class="form-group"> -->
                <ion-col size="12">
                    <ion-button type="submit" color="danger" expand="full">Submit</ion-button>
                    <ion-button routerLink="/admin" expand="full" fill="clear" shape="round">
                        Annuler
                    </ion-button>
                </ion-col>
                <!-- </div> -->
            </ion-row>
        </ion-grid>
    </form>
</ion-content>