 <ion-header>
    <app-header [pageTitle]="this.eventTitle" backTo="/home" ></app-header>
</ion-header> 
<ion-content fullscreen="true">
    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button *ngIf="(this.auth?.user|async)?.uid" (click)="registerEvent()" >
                <ion-icon name="calendar-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="sharePopup()">
                <ion-icon name="share-social-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="toggleFavorites()">
                <ion-icon [name]="this.likeIcon"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <ion-img [src]="this.media1"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img [src]="this.media2"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img [src]="this.media3"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img [src]="this.media4"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img [src]="this.media5"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img [src]="this.media6"></ion-img>
        </ion-slide>
    </ion-slides>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="7">
                <p>{{this.eventCategory|catTitle}}</p>
            </ion-col>
            <ion-col size="5">
                <ionic-rating-component activeIcon="star" defaultIcon="star" activeColor="#488aff" defaultColor="#f4f4f4"
              readonly="true" rating="3" fontSize="13px">
            </ionic-rating-component>
            </ion-col>
            <ion-col size="1">
                <!-- <ion-icon [name]="this.reqWeather|meteoReq"></ion-icon> -->
            </ion-col>
            <ion-col size="12">
                <ion-text color="primary">
                    <h1>{{this.eventTitle}}</h1>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-text color="secondary">
                    <p>{{this.eventDescr}}</p>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" fill="clear" shape="round">
                    Lire la suite
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-list class="ion-no-margin ion-no-padding">
                    <ion-item class="ion-no-margin ion-no-padding"> 
                        <ion-col size="1">
                            <ion-icon name="calendar-clear-outline"></ion-icon>
                        </ion-col>
                        <ion-col size="7">
                            <ion-text>
                                <p>du {{this.eventStartDate}} au {{this.eventEndDate}}
                                    <br>ouvert de 10h à 22h30
                                </p>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            
                        </ion-col>
                    </ion-item>
                    <ion-item class="ion-no-margin ion-no-padding">
                        <ion-col size="1">
                            <ion-icon name="location-outline"></ion-icon>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text>
                                <p>{{this.eventAddress}}<br>{{this.eventCity}}<br>{{this.eventStates}}</p>
                            </ion-text>
                        </ion-col>
                        <ion-col size="3">
                            <ion-icon name="navigate-circle-outline"></ion-icon>
                            <ion-label slot="">{{this.distBetween|async| number: '1.0-1'}}km </ion-label>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button>
                                itinéraire
                                <ion-icon name="map-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-item>
                    <ion-item class="ion-no-margin ion-no-padding">
                        <ion-col size="1">
                            <ion-icon name="call-outline"></ion-icon>
                        </ion-col>
                        <ion-col size="7">
                            <ion-text>
                                <p>
                                    {{this.orgName}}<br>
                                    {{this.orgCity}}<br>
                                    {{this.orgState}}<br>
                                    {{this.orgPhone}}
                                </p>
                            </ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button>
                                contacter
                                <ion-icon name="call-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <ion-icon name="information-circle-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <ion-text>
                    <p>Informations utiles</p>
                </ion-text>
            </ion-col>
            <ion-item class="ion-no-margin ion-no-padding">
                <ion-col size="1">
                    <ion-icon name="call-outline"></ion-icon>
                </ion-col>
                <ion-col size="11">
                    <ion-text>
                        <p>{{this.infoGen}}</p>
                    </ion-text>
                </ion-col>
            </ion-item>
            <ion-item class="ion-no-margin ion-no-padding">
                <ion-col size="1">
                    <ion-icon name="call-outline"></ion-icon>
                </ion-col>
                <ion-col size="11">
                    <ion-text>
                        <p>{{this.infoTransp}}</p>
                    </ion-text>
                </ion-col>
            </ion-item>
            <ion-item class="ion-no-margin ion-no-padding">
                <ion-col size="1">
                    <ion-icon name="call-outline"></ion-icon>
                </ion-col>
                <ion-col size="11">
                    <ion-text>
                        <p>{{this.infoDog}}</p>
                    </ion-text>
                </ion-col>
            </ion-item>
            <ion-item class="ion-no-margin ion-no-padding">
                <ion-col size="1">
                    <ion-icon name="call-outline"></ion-icon>
                </ion-col>
                <ion-col size="11">
                    <ion-text>
                        <p>{{this.infoHandicap}}</p>
                    </ion-text>
                </ion-col>
            </ion-item>
            <ion-col size="12" class="ion-text-center">
                <ion-icon name="people-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <ion-text>
                    <p>Commentaires</p>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-list class="ion-no-margin ion-no-padding">
                    <ion-card>
                        <ion-row>
                            <ion-col size="6">
                                <ion-text>
                                    <h6>Christelle T.</h6>
                                </ion-text>
                            </ion-col>
                            <ion-col size="6">
                                <ionic-rating-component activeIcon="star" defaultIcon="star" activeColor="#488aff"
                                    defaultColor="#f4f4f4" readonly="true" fontSize="13px">
                                </ionic-rating-component>
                            </ion-col>
                            <ion-col size="12">
                                <ion-text>
                                    <p>Accès en transport public depuis la gare de fribourg, prendre ligne 3 jusqu'à
                                        l'arrêt st-michel,
                                        l'evenement est franchement moyen, toujours la meme chose blablabla</p>
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>