/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */
:root {
  --ion-background-color: #222428;
  --ion-background-color-rgb: 34,36,40;

  --ion-text-color: #e8e8e8;
  --ion-text-color-rgb: 232,232,232;

  --ion-color-step-50: #2c2e32;
  --ion-color-step-100: #36383b;
  --ion-color-step-150: #404145;
  --ion-color-step-200: #4a4b4e;
  --ion-color-step-250: #545558;
  --ion-color-step-300: #5d5f62;
  --ion-color-step-350: #67696b;
  --ion-color-step-400: #717275;
  --ion-color-step-450: #7b7c7e;
  --ion-color-step-500: #858688;
  --ion-color-step-550: #8f9092;
  --ion-color-step-600: #999a9b;
  --ion-color-step-650: #a3a3a5;
  --ion-color-step-700: #adadae;
  --ion-color-step-750: #b7b7b8;
  --ion-color-step-800: #c0c1c2;
  --ion-color-step-850: #cacbcb;
  --ion-color-step-900: #d4d4d5;
  --ion-color-step-950: #dedede;

  

  --ion-color-primary: #3E3F48;
  --ion-color-primary-rgb: 62,63,72;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #37373f;
  --ion-color-primary-tint: #51525a;

  --ion-color-secondary: #FFC403;
  --ion-color-secondary-rgb: 255,196,3;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0ac03;
  --ion-color-secondary-tint: #ffca1c;

  --ion-color-tertiary: #2C668D;
  --ion-color-tertiary-rgb: 44,102,141;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #275a7c;
  --ion-color-tertiary-tint: #417598;

  --ion-color-success: #1f9e52;
  --ion-color-success-rgb: 31,158,82;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #1b8b48;
  --ion-color-success-tint: #35a863;

  --ion-color-warning: #ffae00;
  --ion-color-warning-rgb: 255,174,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e09900;
  --ion-color-warning-tint: #ffb61a;

  --ion-color-danger: #e70d2b;
  --ion-color-danger-rgb: 231,13,43;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cb0b26;
  --ion-color-danger-tint: #e92540;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1.2;
}

p,div{
  font-weight: 400;
}
p.lightTitle{
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
