<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Evenements planifiés
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content> 

   
    <ion-row>

      <ion-col size="2">
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
   
      <ion-col size="8" class="ion-text-center">
        <h2>{{ viewTitle }}</h2>
      </ion-col>
   
      <ion-col size="2">
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
   
    <calendar
      [eventSource]="eventSource"
      [calendarMode]="'month'"
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
    >
    </calendar>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="createRandomEvents()" expand="block" fill="outline">
          Add random events
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="removeEvents()" expand="block" fill="outline">
          Remove all events
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-content>