<ion-header>
    <app-header title="Mes évenements"></app-header>
</ion-header>
<ion-content>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <ion-button class="ion-text-center" routerLink='eventbooked' expand="full">
                        <div>
                            <ion-icon slot="" name="settings-outline" size="large"></ion-icon><br>
                            <p>évenements prévus</p>
                        </div>
                    </ion-button>
                </ion-col>
                <ion-col size="12">
                    <ion-button class="ion-text-center" routerLink='oldevents' expand="full">
                        <div>
                            <ion-icon slot="" name="settings-outline" size="large"></ion-icon><br>
                            <p>évenements passés</p>
                        </div>
                    </ion-button>
                </ion-col>
                <ion-col size="12">
                    <ion-button class="ion-text-center" routerLink='lastvisited' expand="full">
                        <div>
                            <ion-icon slot="" name="settings-outline" size="large"></ion-icon><br>
                            <p>visité dernièrement</p>
                        </div>
                    </ion-button>
                </ion-col>
                <ion-col size="12">
                    <ion-button class="ion-text-center" routerLink='myrating' expand="full">
                        <div>
                            <ion-icon slot="" name="settings-outline" size="large"></ion-icon><br>
                            <p>mes évaluations</p>
                        </div>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>