<ion-header>
  <ion-toolbar>
    <ion-title>Mes événements</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="bgImg">
  <ion-segment value="calendrier" (ionChange)="segmentChanged($event)" mode="md">
    <ion-segment-button value="calendrier">
      <ion-label>Calendrier</ion-label>
    </ion-segment-button>
    <ion-segment-button value="liste">
      <ion-label>Liste</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="this.calendarView">
    <app-calendrar-view [userID]="this.userID"></app-calendrar-view>
  </ng-container>
  <ng-container *ngIf="!this.calendarView">
    <app-liste [userID]="this.userID"></app-liste>
  </ng-container>
</ion-content>