:host{

    ion-toolbar {
        --background: #222428;
        --border-color: transparent;

        .filterButton{
            margin-top: 13px;
            margin-left: 8px;
        }
    }    

    .catIcons{
        font-size: 50px;
    }

}